<?xml version="1.0"?>
<!-- Launchs the multi-robot system -->
<launch>
    <group ns="robotino0">
        <param name="tf_prefix" value="robotino0_tf" />
        <include file="$(find coppelia_ros_robotino)/launch/robotino.launch" />
    </group>
    
    <group ns="robotino1">
        <param name="tf_prefix" value="robotino1_tf" />
        <include file="$(find coppelia_ros_robotino)/launch/robotino.launch" />
    </group>

    <group ns="robotino2">
        <param name="tf_prefix" value="robotino2_tf" />
        <include file="$(find coppelia_ros_robotino)/launch/robotino.launch" />
    </group>

    <node name="rviz" pkg="rviz" type="rviz" required="true"
    args="-d $(find coppelia_ros_robotino)/cartographer/rviz/robotino_group.rviz" />
</launch>